body{
    background-color: #eef1ea;
}

h1{
    margin-left: 60%;
    font-size: 100px;
}


section{
    display: flex;
    width: 100px;
}

img{
    border-radius: 100%;
}

div p{
    float: right;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font-style: italic;
    background-color: #f3f2ed;
    border-radius: 5%;
    margin: 10px 40px;
    padding: 50px 25px;
    height: 200px;
}

div p:hover{
    color: chartreuse;
    text-shadow: 5%;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

ul li a{
    text-decoration: none;
    color: #696969;
    font-size: 25px;
    background-color: #FFE4E1;
    padding: 10px;
}

li a:hover{
    color: #240912;
    background-color: #eaf4fc;
    padding: 10px;
}

#section{
    width: 80%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
#image{
    width: 40%;
    height: auto;
}
#parg{
    width: 40%;
}

aside{
    width: 10%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
    color: black;
    margin-top: 5vh;
    border-radius: 40%;
}

#one{
    text-align: center;
    padding-top: 50px;
}