body{
    background-color: #e9edf6;
}

h1{
    margin-left: 60%;
    font-size: 100px;
}


section{
    display: flex;
    width: 100px;
}

img{
    margin-top: -250px;
    width: auto;
    height: 80vh;
    border-radius: 100%;
}

div p{
    float: right;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font-style: italic;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style-type: none;
    margin: 0 auto;
}

ul li a{
    text-decoration: none;
}




